    .login-button {
    background-color: #0d490d;
    margin-left: 30px; /* Add margin-right to create space between buttons */
  }
  
  .login-button:hover {
    background-color: #157415 !important; /* New hover color */
  }

  .register-button {
    margin-right: 30px; /* Add margin-left to create space between buttons */
  }

  .logo-image {
    max-width: 100%; /* Ensure the logo image doesn't exceed the container width */
    margin-bottom: 80px; /* Decrease the space between the logo image and form container */
    margin-top: 80px;
  }

  .register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align items to the top */
    height: 100vh;
  }

  .register-button,
  .login-button {
    margin-top: 40px; /* Increase spacing between buttons and form */
  }

  /* Set different logo sizes for different screen widths */
  @media (min-width: 576px) {
    .logo-image {
      width: 337.5px; /* 50% bigger than 225px */
    }
  }
  
  @media (min-width: 768px) {
    .logo-image {
      width: 505.5px; /* 50% bigger than 337px */
    }
  }
  
  @media (min-width: 992px) {
    .logo-image {
      width: 675px; /* 50% bigger than 450px */
    }
  }
  
  @media (min-width: 1200px) {
    .logo-image {
      width: 843px; /* 50% bigger than 562px */
    }
  }