.essay-reviewer {
    height: 95%;
    overflow: hidden;
}

.site-layout-content {
    height: 100%
}

.progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}