.spinner-container {
    position: fixed;
    top: 30%; /* Adjusted top position */
    right: 25%;
    transform: translate(50%, -50%);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .spinner-container .ant-spin {
    font-size: 48px;
  }
  
  .spinner-container .ant-spin-text {
    margin-top: 20px;
    font-size: 24px;
  }
  
  .spinner-container::before {
    content: "";
    position: absolute;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -50%;
    z-index: -1;
    border-radius: 20px;
  }
  
  .essay-reviewer-container {
    height: 100%;
  }

  .grammarly-underline {
    z-index: 9999; /* Set a higher z-index value */
  }
  
  .essay-textarea {
    width: 100%;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    padding: 10px;
    flex: 1; /* Let the textarea expand to fill the remaining space */
    padding: 10px; /* Adjust the padding as needed */
    resize: none;
  }

  .text-area-container {
    display: flex;
    flex-direction: column;
  }

  grammarly-editor-plugin {
    --grammarly-default-font-family: Optima, sans-serif;
    --grammarly-interactive-color: #0d490d;
    --grammarly-default-border-radius: 30px;
    --grammarly-card-border-radius: 0px;
  }