.recommendation-card {
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    padding-bottom: 25px;
    position: relative;
  }

  .recommendation-card.drop-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .recommendation-card-button-container {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
    gap: 10px; /* Add space between buttons */
    align-items: center;
  }
  
  .recommendation-card-thumbs-up {
    background-color: #ffffff;
    color: #52A752;
    border: 1px solid #52A752;
  }

  .recommendation-card-thumbs-up:hover {
    background-color: #52A752 !important;
    color: #ffffff;
    border: 1px solid #ffffff;
  }
  
  .recommendation-card-thumbs-down {
    background-color: #ffffff;
    color: #E296FF;
    border: 1px solid #E296FF;
  }

  .recommendation-card-thumbs-down:hover {
    background-color: #E296FF !important;
    color: #ffffff;
    border: 1px solid #ffffff;
  }
  
  .recommendation-card-content {
    padding-bottom: 30px;
  }
  
  
  .recommendation-card-re-review-button {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    position: absolute;
    right: 105px;
    bottom: 23px; /* Adjusted value for moving the button down */
    z-index: 1;
  }

  .hidden-buttons {
    display: flex;
    flex-direction: row;
    width: 80%;
  }
  
  .recommendation-card-re-review-button:hover {
    background-color: #000000  !important;
    color: #ffffff !important;
    border-color: #000000  !important;
  }

  .recommendation-card-assistant-button {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    position: absolute;
    right: 218px;
    bottom: 23px;
    z-index: 1;
  }

  .recommendation-card-assistant-button:hover {
    background-color: #000000  !important;
    color: #ffffff !important;
    border-color: #000000  !important;
  }