.recommendation-card {
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    padding-bottom: 25px;
    position: relative;
  }
  
  .recommendation-card-button {
    background-color: #ffffff;
    color: #000000;
    border: 1.5px solid #000000;
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 1;
  }

  .recommendation-card-button:hover {
    background-color: #32a852 !important;
    border: 0px;
  }
  
  .recommendation-card-content {
    padding-bottom: 30px;
  }
  
  
  .recommendation-card-re-review-button {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    position: absolute;
    right: 50px;
    bottom: 10px; /* Adjusted value for moving the button down */
    z-index: 1;
  }

  .hidden-buttons {
    display: flex;
    flex-direction: row;
    width: 80%;
  }
  
  .recommendation-card-re-review-button:hover {
    background-color: green  !important;
    color: #ffffff !important;
    /*border-color: #000000  !important;*/
  }

  .recommendation-card-assistant-button {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    position: absolute;
    right: 160px;
    bottom: 10px;
    z-index: 1;
  }

  .recommendation-card-assistant-button:hover {
    background-color: green  !important;
    color: #ffffff !important;
   /* border-color: #000000  !important;*/
  }